@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.text-roboto {
  font-family: "Roboto", sans-serif;
}

.borderR {
  border-right: 1px solid black !important;
}
